{% extends "main/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

{% block content %}
<div class="body_events">

    <header class="events_header">
        <a class="menu_btn" href="{% url 'main' %}">ГЛАВНАЯ</a>
        <a class="menu_btn" href="{% url 'events' %}">МЕРОПРИЯТИЯ</a>
    </header>

    <form action="" method="get">
        {% csrf_token %}
        <div class="filter-div">
            <div class="filter-category">
            {{ filter.form.category }}
            </div>
            <div class="filter-name">
                {{ filter.form.name }}
            </div>
            <button type="submit" class="btn-search">
                Search
            </button>
        </div>
    </form>
    <div class="cards_container">
        {% for event in filter.qs %}
                <div class="event_card">
                    <div class="flex-div-card">
                        <div class="card-left-div">
                            <div class="event_name">{{ event.name }}</div>
                            <div class="event_description">{{ event.description }}</div>
                            <span class="time-icon" href></span>
                            <div class="event_time">{{ event.start_datetime }} - {{ event.end_datetime }}</div>
                            <span class="place-icon"></span>
                            <div class="event_place">{{ event.place }}</div>
                        </div>
                        <div class="card-right-div">
                            <img class="event_img" src="{{ event.image.url }}">
                        </div>
                    </div>
                    <div class="map-flex">
                        {{ event.map_code | safe }}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}